@import '~bootstrap/scss/bootstrap';

header,
footer,
main {
    text-align: center;
    color: white;
}

body {
    /* Created with https://www.css-gradient.com */
    background: #161616;
}

h1 {
    color: #fff;
}

.home a li {
    color: white !important;
}